
.img-back
{
    background-image: url(src/images/home_images/0U5A5274.JPG);
    height: 100vh;
    width: 100%;
   
}
.contact_text_box{
    background-image: url(src/images/home_images/5756893.jpg);


}
.footer{
    background-image: ;
}
